<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" >
    <title>{{info_usuario.nombre}} {{info_usuario.apellidos}}/ParcheU</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Amiko&amp;display=swap'%}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Header-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="border-bottom-style: solid;">
        <div class="container"><a class="nav-link" href="{% url 'inicio_muro' %}"><img src="{% static 'assets/img/Logo.jpg' %}"></img></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'inicio_muro' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'perfil' info_usuario.codigo_estudiante %}">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'amigos' %}">Amigos</a></li>
                    <!--<li class="nav-item"><a class="nav-link" href="{% url 'inicioApp' %}">Mis gustos</a></li>-->
                </ul>
                
                <form class="me-auto search-form" action="">
                    <div class="d-flex align-items-center" style="border-width: 1px;border-style: solid;width: 157px;">
                        <label class="form-label d-flex mb-0" for="search-field"></label>
                        <input class="form-control search-field" type="search" id="search-field" name="search" style="width: 160px;">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </input>
                    </div>
                </form>
                <a class="btn btn-light action-button" role="button" href="{% url 'cerrar_sesion' %}" style="background: var(--bs-red);">Cerrar sesión</a>
            </div>
        </div>
    </nav>
    <br>
   
    <section class="register-photo">
        <center>
    <div class="form-container" enqtype="multipart/form-data">
    
        <form method="POST" enctype="multipart/form-data">
            {% if info_usuario %}
                <img class="card-img-top" style="height: 250px; width: 250px; margin-top: -18px;" src="{{info_usuario.foto_perfil.url}}"/>
            {% endif %}
            {% csrf_token %}
            <br>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Foto de perfil</legend>
                {{ foto_form }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-light action-button" type="submit" style="background: var(--bs-red); color:white;">Actualizar foto</button>
                <a class="btn btn-light action-button" role="button" href="{% url 'perfil' info_usuario.codigo_estudiante %}" style="background: var(--bs-gray); color:white;">Volver</a>
            </div>
        </form>
        </div>
    </center>
        <br>
         <br>
            
    </div>
</section>