<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet"> 
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{info_usuario.nombre}} {{info_usuario.apellidos}}/ParcheU</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Header-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Testimonials.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="border-bottom-style: solid;">
        <div class="container"><a class="nav-link" href="{% url 'inicio_muro' %}"><img src="{% static 'assets/img/Logo.jpg' %}"></img></a>
            
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'inicio_muro' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'perfil' info_usuario.codigo_estudiante %}">Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'amigos' %}">Amigos</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="{% url 'inicioApp' %}">Mis gustos</a></li>-->
            </ul>
                
                <form class="me-auto search-form" action="">
                    <div class="d-flex align-items-center" style="border-width: 1px;border-style: solid;width: 157px;">
                        <label class="form-label d-flex mb-0" for="search-field"></label>
                        <input class="form-control search-field" type="search" id="search-field" name="search" style="width: 160px;">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </input>
                    </div>
                </form>

                <a class="btn btn-light action-button" role="button" href="{% url 'cerrar_sesion' %}" style="background: var(--bs-red);">Cerrar sesión</a>
            
        </div>
    </nav>

     <div class="container" style="width: auto;" enqtype="multipart/form-data">
        <section class="contact-clean" style="height: 300px;">

            <form method="post" style="height: auto;" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea class="form-control" maxlength="1000" style="resize: none;" name="mensaje" placeholder="Escribe algo" rows="14" required></textarea>
                <div class="mb-3"></div>
                <div class="mb-3"><h4>Subir imagen<h4></div>
                <div class="mb-3">
                    <input type="file" name="imagen" accept="image/*"/>
                    <button class="btn btn-primary" type="submit">Publicar</button></div>
                <div class="mb-3"></div>
            </form>
            
        </section>
    </div>
    
    <br><br>
    {% for publicacion in publicaciones %}
        
    <section class="hero">
        <div class="container">
         <div class="row">	
         
          <div class="col-lg-6 offset-lg-3">
           
           <div class="cardbox shadow-lg bg-white">
            
            <div class="cardbox-heading">
             <!-- START dropdown
             <div class="dropdown float-right">
              <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
               <em class="fa fa-ellipsis-h"></em>
              </button>
              
             </div>/ dropdown-->
             <div class="media m-0">
              <div class="d-flex mr-3">
                &nbsp&nbsp&nbsp<a href="{% url 'perfil' publicacion.codigo_estudiante.codigo_estudiante %}"><br><img class="rounded-circle" style="border-color:var(--bs-red);margin-top:-5px;width: 120px; height: 100px;border-style: ridge;"  src="{{publicacion.codigo_estudiante.foto_perfil.url}}" alt="User"></a>
              </div>
              
              <div class="media-body">
                <br>
                {%if publicacion.codigo_estudiante.nombre%}
                  <h5 class="m-0">{{publicacion.codigo_estudiante.nombre}} {{publicacion.codigo_estudiante.apellidos}}</h5>
                {% endif %}
                {%if publicacion.fecha_publicacion and publicacion.hora_publicacion %}
                <small><p class="title">{{publicacion.fecha_publicacion}}/ {{publicacion.hora_publicacion}}</p></small>
                {% endif %} 
               
                {%if publicacion.mensaje%}
                 <p class="m-0">{{ publicacion.mensaje}}</p>
                {% endif %}
               
              </div>
             </div><!--/ media -->
            </div><!--/ cardbox-heading -->
            {% if publicacion.imagen%}
            <div class="cardbox-item">
                <img class="img-fluid" style ="width:100%;height:auto;" src="{{publicacion.imagen.url}}" alt="Image">
               </div>
            {% endif %}
            {% if not publicacion.imagen%}
                <br>
            {% endif %}
            <!--/ cardbox-item -->
            
            
            				  
                   
           </div><!--/ cardbox -->

          </div><!--/ col-lg-6 -->
           
         </div><!--/ row -->
        </div><!--/ container -->
       </section>
       <br>
       
    {% endfor %}
       <br>
    
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>