<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Parche U</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Header-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Testimonials.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="border-bottom-style: solid;">
        <div class="container"><a class="nav-link" href="{% url 'inicio_muro' %}"><img src="{% static 'assets/img/Logo.jpg' %}"></img></a>
            
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'inicio_muro' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'perfil' info_usuario.codigo_estudiante %}">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Amigos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'inicioApp' %}">Mis gustos</a></li>
                    
                </ul>
                <form class="me-auto search-form" target="_self">
                    {% csrf_token %}
                    <div class="d-flex align-items-center" style="border-width: 1px;border-style: solid;width: 200px;"><label class="form-label d-flex mb-0" for="search-field"></label><input class="form-control search-field" type="search" id="search-field" name="search" style="width: 175px;"><i class="fa fa-search"></i></div>
                </form>
                <a class="btn btn-light action-button" role="button" href="{% url 'cerrar_sesion' %}" style="background: var(--bs-red);">Cerrar sesión</a>
            
        </div>
    </nav>

     <div class="container" style="width: auto;">
        <section class="contact-clean" style="height: 300px;">
            <form method="post" style="height: 270px;">
                {% csrf_token %}
                <textarea class="form-control" maxlength="1000" style="resize: none;" name="mensaje" placeholder="Escribe algo" rows="14" required></textarea>
                <div class="mb-3"></div>
                <div class="mb-3"><h4>Subir imagen<h4></div>
                <div class="mb-3">
                    <input type="file" name="imagen" accept="image/jpeg" multiple/>
                    <button class="btn btn-primary" type="submit">Publicar</button></div>
                <div class="mb-3"></div>
            </form>
        </section>
    </div>
    
    
    {% for publicacion in publicaciones %}
        {% for publicacion1 in publicaciones1 %}
            <section class="testimonials-clean">
                <div class="container">
                    <div class="row people">
                        <center><div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                {%if publicacion.mensaje%}
                                    <p class="description">{{ publicacion.mensaje}}</p>
                                {% endif %}
                            </div>
                            <div class="author"><img class="rounded-circle" src="{% static 'assets/img/nullprofile.jpg' %}">
                                {%if publicacion1.nombre%}
                                    <h5 class="name">{{publicacion1.nombre}} {{publicacion1.apellidos}}</h5>
                                {% endif %}
                                {%if publicacion.fecha_publicacion and publicacion.hora_publicacion %}
                                    <p class="title">{{publicacion.fecha_publicacion}}/ {{publicacion.hora_publicacion}}</p>
                                {% endif %}                        
                            </div>
                        </div>
                    </div></center>
                </div>
            </section>
        {% endfor %}
    {% endfor %}
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>