<!DOCTYPE html>
<html lang="en">

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>proyecto</title>
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Amiko&amp;display=swap' %}">
        <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Header-Dark.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
    </head>
    
    <body>
        <div class="container">
            <form style="text-align: justify;">
                <h1 style="text-align: left;">Gustos e intereses</h1>
                <p>Cuentanos más acerca de ti</p>
                <hr style="color: var(--bs-red);height: 3px;">
                <p>Selecciona almenos una o cuantas consideres necesarias</p>
                <h4>Música</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Electronica</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Reggaeton</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Romantica</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Pop</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Rap</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8">Rock</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-7">Salsa</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">Ballenato</label></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <h4>Deportes</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-25"><label class="form-check-label" for="formCheck-1">Futbol&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-26"><label class="form-check-label" for="formCheck-2">Baloncesto</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-27"><label class="form-check-label" for="formCheck-3">voleyball</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-28"><label class="form-check-label" for="formCheck-4">Ping pong</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-29"><label class="form-check-label" for="formCheck-5">Tenis</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-30"><label class="form-check-label" for="formCheck-8">Ajedrez</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-31"><label class="form-check-label" for="formCheck-6">Futbol Americano</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-32"><label class="form-check-label" for="formCheck-7">BaseBall</label></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <h4>Series / Películas</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-33"><label class="form-check-label" for="formCheck-1">Drama</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-34"><label class="form-check-label" for="formCheck-2">Romantico</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-35"><label class="form-check-label" for="formCheck-3">Accion</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-36"><label class="form-check-label" for="formCheck-4">Aventura</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-37"><label class="form-check-label" for="formCheck-5">Terror</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-38"><label class="form-check-label" for="formCheck-8">Suspenso</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-39"><label class="form-check-label" for="formCheck-6">Comedia</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-40"><label class="form-check-label" for="formCheck-7">Historia</label></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <h4>VideoJuegos</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-17"><label class="form-check-label" for="formCheck-1">Estrategia</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-18"><label class="form-check-label" for="formCheck-2">Accion</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-19"><label class="form-check-label" for="formCheck-3">Plataformero</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-20"><label class="form-check-label" for="formCheck-4">Arcade</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-21"><label class="form-check-label" for="formCheck-5">Deportivo</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-22"><label class="form-check-label" for="formCheck-8">Simulacion</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-23"><label class="form-check-label" for="formCheck-6">Musical</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-24"><label class="form-check-label" for="formCheck-7">MOBA</label></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <h4>Literatura</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label" for="formCheck-1">Cuentos</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label" for="formCheck-2">Romantico</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-11"><label class="form-check-label" for="formCheck-3">Terror</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-12"><label class="form-check-label" for="formCheck-4">Suspenso</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-13"><label class="form-check-label" for="formCheck-5">Comedia</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-14"><label class="form-check-label" for="formCheck-8">Historia</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-15"><label class="form-check-label" for="formCheck-6">Investigación</label></div>
                                </th>
                                <th>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-16"><label class="form-check-label" for="formCheck-7">Novela</label></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr></tr>
                        </tbody>
                    </table>
            </div><button class="btn btn-primary" type="button" style="/*align-content: right;*/text-align: right;margin-left: 0px;right: 10px;">Enviar Respuestas</button>
            <div class="btn btn-primary">
                <a id="cerrar_sesion" style="color:#fff; text-decoration: none;" href="{% url 'cerrar_sesion' %}">
                  Cerrar sesión</a
                >
              </div>
        </form>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>